<div class="navbar-text">
<h2><strong>Edit <%= resource_name.to_s.humanize %></strong></h2>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit-User</li>
  </ol>
</nav>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :fname, autofocus: true %>
  </div>
</br>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lname, autofocus: true %>
  </div>
</br>
 <!-- <div class="field">
    <%= f.label :Login_as_member? %><i>(leave blank if you don't want membership)</i><br />
<%= f.check_box :role, { checked: false }, 'member', 'user'  %> 
  </div> --> 
</br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
</br>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
</br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</br>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-outline-danger" %></p>

