<div class="navbar-text">
<h2><strong>Sign up</strong></h2>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register-User</li>
  </ol>
</nav>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <!-- <%= f.label :firstname %><br /> -->
    <%= f.text_field :fname, autofocus: true %>
  </div>

  <div class="field">
    <!-- <%= f.label :lastname %><br /> -->
    <%= f.text_field :lname, autofocus: true %>
  </div>

  <div class="field">
  <!--  <%= f.radio_button :role, :admin %>
      <%= f.label :role, 'Admin', :value => 'admin' %> -->

  </div>

  <div class="field">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <!-- <%= f.label :password %> -->
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <!-- <%= f.label :password_confirmation %><br /> -->
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
