<!-- <div class="card" style="width: 04rem;">
	<img class="card-img-top" src="<%=comment.commenter_image.comment_thumb.url%>" alt="Card image cap">
</div> -->
<div class="col-sm-3">
<div class="card" style="width: 15rem; margin-top: 10px;">
  <div class="card-body">
    <h5 class="card-title"><%= comment.commenter %></h5>
    <p class="card-text"><%= comment.body %></p>
  	 <% if current_user.role == 'admin' %>
	  <%= link_to 'Remove Comment', [comment.hotel, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' },
	               :class => 'btn btn-outline-danger btn-sm' %>
	  <% end %>
  </div>
</div>
</div>

<!--<%= image_tag(comment.commenter_image.url, alt: 'Commenter_Image') if comment.commenter_image? %>
<%= link_to(image_tag(comment.commenter_image.comment_thumb.url, alt: 'Commenter_Image'), comment.commenter_image.url, target: '_blank') if comment.commenter_image? %>-->





<!-- <p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.hotel, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p> -->