<div style="width: 18rem">
  <%= bootstrap_form_with(model: [ @hotel, @hotel.comments.build ], local: true) do |form| %>
    <%= form.text_area :body %>
    <%= form.hidden_field :commenter_image_cache %>
    <%= form.submit %>
<% end %>
</div>
