<div class="card" style="width: 20rem">
<%= bootstrap_form_with(model: [ @hotel, @hotel.bookings.build ], local: true) do |f| %>
	<div class="form-card">
		<div>
			<%= f.label :Select_slot %>
			<%= f.select :slot, ['Afternoon Slot','Evening Slot'] %>
		</div>
		<div>
			<%= f.label :Enter_no_of_seats %>
			<%= f.text_field :seat %>
		</div>
		<p style="text-align: center;">** ** ** OR ** ** **</p>
		<div>
			<%= f.label :Enter_no_of_rooms_required %>
			<%= f.text_field :room %>
		</div>
		<div>
			<%= f.label :Select_Cot %>
			<%= f.select :cot, ['Single Cot','Double Cot'] %>
		</div>
		<div>
			<%= f.label :Room_type %>
			<%= f.select :type, ['A/C','Non-A/C'] %>
		</div>
		<div>
			<%= f.label :Contact_Number %>
			<%= f.text_field :phone_main %>
		</div>
		<div>
			<%= f.label :Alternate_Number %><i>(*optional)</i>
			<%= f.text_field :phone_alt %>
		</div>
		<div>
			<%= f.submit%>
		</div>
	</div>
<%end%>
</div>