<div class="navbar-text">
<h1><strong>Booking List</strong></h1>
<p><i>Find all your bookings <strong>@here</strong></i></p>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
    <li class="breadcrumb-item"><a href="<%=hotel_path(@hotel)%>"><%=@hotel.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page">Bookings</li>
  </ol>
</nav>

<table class="table table-hover">
	<tr>
		<th> Hotel_Name </th>
		<th> Slot_Reserved </th>
		<th> Chosen_Seats </th>
	</tr>
 	<% @bookings.each do |b| %>
   	<tr>
		<td><%= b.hotel.name %></td>
		<td><%= b.slot %></td>
		<td><%= b.seat %></td>
		<% if current_user.role != 'admin' %>
		<td><%= link_to 'Cancell booking', [b.hotel, b],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
    	<% end %>
  </tr>
  <% end %>
 </table>
