<div class="navbar-text">
<h1><strong>Go Booking Now!</strong></h1>
<p><i>Pre-Book your time <strong>@here</strong></i></p>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
    <li class="breadcrumb-item"><a href="<%=hotel_path(@hotel)%>"><%=@hotel.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page">Create-Booking</li>
  </ol>
</nav>

<div class="card-group">
		<%= render 'bookings/form' %>
	<div class="card">
		<%= image_tag("front4.jpg", class: "img-responsive img-thumbnail img-circle") %>
	</div>
</div>
