<div class="navbar-text">
<h1><img src="uploads/search-restaurant.jpg"><strong>Find Hotels - <span class="blinking">The Best</span></strong></h1>
<p>Way of searching hotels to find your taste!</p>
</div>
<div>
  <% if user_signed_in? %>
  <%= link_to 'Go Hotels >>', hotels_path, :class => 'btn btn-primary' %>
  <% if current_user.role == 'member' %>
    | <%= link_to 'Go straight to favourites link', hotel_afavourites_path( @hotels ), :class => 'btn btn-warning' %>
  <% end %>
<% end %>
</div>
<br>
<div class="video">
  <video class="video-fluid z-depth-1" controls>
    <source src="uploads/restaurant promo video template.mkv" type="video/mp4" />
  </video>
</div>

