<% @hotel.bookings.each do |b| %>
<h2>Welcome <%=@user.email%></h2>
<h3>Dear <%= @user.fname %>,</h3>
<p>Your booking for <strong><i><%=b.seat%></i></strong> Seats and <strong><i><%=b.room%></i></strong> Rooms <strong><i>@<%=@hotel.name%>,<%=@hotel.location%></strong></i> has been confirmed for <u><%=b.slot%></u> now!</p>
<p><i>Experience the taste of nature!!</i></p>
<h3>Thank you!</h3>
<%end%>