<div class="navbar-text">
<h1><strong>Listing - Favourites</strong></h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
    <li class="breadcrumb-item active" aria-current="page">Favourites</li>
  </ol>
</nav>

	<table class="table">
    <tr>
      <th>User_Name</th>
      <th>Hotel_Name</th>
      <th>Hotel_type</th>
      <th>Average_cost</th>
      <th></th>
    </tr>

    <% @afavourite.each do |f| %>
      <tr>
        <td><%= current_user.fname%></td>
        <td><%= f.hotel.name if f.hotel %></td>
        <td><%= f.hotel.hoteltype if f.hotel %></td>
        <td><%= f.hotel.avgcost if f.hotel %></td>
        <td><%= link_to 'show', hotel_path(f.hotel_id, f, params[:hotelid]), :class => "btn btn-primary" %></td>   
        <td><%= link_to 'Un-favourite', hotel_afavourite_path(f.hotelid, f, params[:hotelid]),               
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, notice: 'UnFavoured Hotel Successfully', :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
</table>