<div class="navbar-text">
<h2><strong>Login</strong></h2>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login-user</li>
  </ol>
</nav>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <!-- <%= f.label :password %><br /> -->
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <!-- <%= f.label :remember_me %> -->
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
