// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-card {
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}
.py-5,.footer {
  /*display: none;*/

}