@import "bootstrap";

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.nav,ul{
	overflow-x: hidden;
	white-space: nowrap;
	height: 100%;
	padding-top: 5px;
}

.nav,li {
	display: inline-flex;
}

