// Place all the styles related to the Hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  width: 35%;
}
.navbar-brand img {
  width: 10%;
}
.new-form {
	width: 25rem;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
}
.col-md-4 {
  margin-bottom: 25px;
}
.card:hover {
  box-shadow: 0px 0px 23px rgba(33,33,33,.2);
}

footer.py-1 {
  /*background-color: #011f2a;*/
  text-align: center;
}
.card-body.text-center .btn-sm {
  width: 25%;
}
.btn.btn-warning,.card-link.btn.btn-outline-primary.btn-sm,.btn {
  border-radius: 20px;
}
/*.navbar.fixed-top.navbar-light.bg-light .nav {
  width: 55%;
}
.navbar.container .btn {
  width: 16%;
}*/
.btn-primary:hover,.btn-success:hover,.btn-warning:hover {
  background-color: #000000;
  border-color: #000000;
}
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
