@media all and (min-width: 250px) {
  body {
    margin: 80% 5% 8% 5%;
  }
}

@media all and (min-width: 360px) {
  body {
  margin: 40% 5% 8% 5%;
  }
}

@media all and (min-width: 460px) {
  body {
  margin: 30% 5% 8% 5%;
  }
}

@media all and (min-width: 576px) {
  body {
  margin: 20% 5% 8% 5%;
  }
}

@media (min-width: 768px) {
  body {
  margin: 13% 5% 8% 5%;
  }
}

@media (min-width: 992px) {
  body {
  margin: 9% 5% 8% 5%;
  }
}
