// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video .video-fluid {
  margin: 2% 0% 0% 22%;
  width: 55%;
}
.navbar-text img {
  width: 10%;
}
.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: black;    }
    /*49%{    color: red;      }*/
    50%{    color: red; }
    /*99%{    color: red;  }*/
    100%{   color: black;    }
}
