<div class="new-form">
<%= bootstrap_form_with(model: @hotel, local: true) do |form| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hotel.errors.count, "error") %> prohibited
        this hotel from being saved:
      </h2>
      <ul>
        <% @hotel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field :name, :class => "form-control" %>
  </div>
  <div>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.text_field :hoteltype %>
  </div>

  <div>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.text_field :cuisins %>
  </div>

  <div>
    <%= form.text_field :avgcost %>
  </div>

  <div>
    <%= form.text_area :address %>
  </div>

   <div>
    <%= form.text_area :features %>
  </div>

   <div>
    <%= form.text_area :special %>
  </div>

  <div>
    <%= form.text_field :slot1_avail_seat %>
  </div>
  </br>
  <div>
    <%= form.text_field :slot2_avail_seat %>
  </div>
  </br>
  <div>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  </br>
  <% if @hotel.image? %>
    <%= image_tag @hotel.image.small_thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= form.check_box :remove_image %>
      <% end %>
    </div>
  <% end %>
 
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
