<div class="navbar-text">
	<h1><strong>Edit Hotel</strong></h1>
</div>
<br>
 <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
        <li class="breadcrumb-item"><a href="<%=hotel_path(@hotel)%>"><%=@hotel.name%></a></li>
        <li class="breadcrumb-item"><a aria-current="page">Edit Hotels</a></li>
      </ol>
    </nav>

<%= render 'form' %>
