<div class="navbar-text">
  <h1><strong>Listing Hotels</strong></h1>
  </div>
<div class="navbar float-right">
    <!-- <div class="float-sm-right"> -->
      <% if current_user.role == 'admin' %>
      <%= link_to 'Create New Hotel', new_hotel_path, :class => "btn btn-primary float-right" %>
      <% end %>
      <% if current_user.role == 'member'%>
      <%= link_to 'My Favourites', hotel_afavourites_path( @hotels), :class => 'btn btn-warning' %>
      <% end %>
    <!-- </div> -->
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
        <li class="breadcrumb-item"><a aria-current="page">Hotels</a></li>
      </ol>
    </nav>

<div class="card-group">
  <% @hotels.each do |h| %>
    <% @afavourite = h.afavourites.find_by_id(params[:afavourite_id] || params[:id])%>
    <div class="col-md-4">
      <div class="card">
        <!--<%= link_to(image_tag(h.image.small_thumb.url, alt: 'Image'), h.image.url, target: '_blank') if h.image? %>-->
         <a href="<%=hotel_path(h)%>"> <img class="card-img-top" src="<%=h.image.small_thumb.url%>" alt="Card image cap"></a>
        <div class="card-body">
          <div class="card-header">
            <%= h.name %>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <!--  <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= h.location %></li>
          <li class="list-group-item"><%= h.phone %></li>
          <li class="list-group-item">Rs.<%= h.avgcost %></li>
        </ul> -->
        </div>
        <div class="card-body text-center">

          <a href="<%=hotel_path(h)%>" class="card-link btn btn-outline-primary btn-sm">View</a>
          <% if current_user.role == 'admin' %>
          <a href="<%=edit_hotel_path(h)%>" class="card-link btn btn-outline-success btn-sm">Update</a>
          <a href="<%=hotel_path(h)%>" class="card-link btn btn-outline-danger btn-sm">Remove</a>
          <% end %>
        </div>
        </div>
    </div>
  <% end %></br>
</div>
<br>
<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

      <!-- Form with header -->
      <div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header blue accent-1">
            <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
          </div>
          <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
          <!-- Body -->
          <div class="md-form">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="form-name" class="form-control">
            <label for="form-name">Your name</label>
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="form-email" class="form-control">
            <label for="form-email">Your email</label>
          </div>
          <div class="md-form">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="form-Subject" class="form-control">
            <label for="form-Subject">Subject</label>
          </div>
          <div class="md-form">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
            <label for="form-text">Send message</label>
          </div>
          <div class="text-center">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
      <!-- Form with header -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
        <iframe src="https://maps.google.com/maps?q=chennai&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
      <!-- Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-map-marker-alt"></i>
          </a>
          <p>Chennai, 94126</p>
          <p class="mb-md-0">India</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-phone"></i>
          </a>
          <p>+ 01 234 567 89</p>
          <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-envelope"></i>
          </a>
          <p>re-servehotels@gmail.com</p>
          <p class="mb-0">service@gmail.com</p>
        </div>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->