<div class="navbar-text">
	<h1><strong>New Hotel</strong></h1>	
</div>

 <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
        <li class="breadcrumb-item"><a aria-current="page">New Hotel</a></li>
      </ol>
    </nav>
    <div class="card-group">
    	<div class="card" style="width: 21rem">
    		<%= render 'form' %>
    	</div>
    	<div class="card">
    		<%= image_tag("front2.jpg", class: "img-responsive img-thumbnail img-circle") %>
    		<%= image_tag("front4.jpg", class: "img-responsive img-thumbnail img-circle") %>
    		<%= image_tag("Front1.jpg", class: "img-responsive img-thumbnail img-circle") %>
    		<%= image_tag("front3.png", class: "img-responsive img-thumbnail img-circle") %>
    	</div>
    </div>
<br><br>

