<div class="navbar-text">
    <h2><strong><%= @hotel.name %></strong></h2>
    <p><%= @hotel.address %></p>
  </div>
<div class="navbar float-right">
  <div class="float-sm-right">
   <% if current_user.role == 'admin' %>
      <%= link_to 'Update Hotel', edit_hotel_path(@hotel), :class => 'btn btn-success' %>
    <% end %>
    <%= link_to 'View Bookings', hotel_bookings_path(@hotel), :class => 'btn btn-primary' %>
  </div>
</div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=root_path%>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%=hotels_path%>">Hotels</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @hotel.name %></li>
      </ol>
    </nav>
<div class="card-group">
<div class="card">
<img class="card" src="<%=@hotel.image.thumb.url%>" alt="Card image cap" style="height: 30rem">
</div>
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title"><%= @hotel.name %></h5>
    <p class="card-text"><%= @hotel.location %></p>
    <p class="card-text"><%= @hotel.hoteltype %></p>
    <p class="card-text"><%= @hotel.phone %></p>
    <p class="card-text"><%= @hotel.cuisins %></p>
    <p class="card-text"><%= @hotel.avgcost %></p>
    <p class="card-text"><%= @hotel.address %></p>
    <p class="card-text"><%= @hotel.features %></p>
    <p class="card-text"><%= @hotel.special %></p>
    <% if current_user.role == 'user' || current_user.role == 'member' %>
    <a href="<%=new_hotel_booking_path(@hotel)%>" class="btn btn-primary">Book now!</a>
    <% end %>
    <% if current_user.role == 'member' %>
    <%= link_to 'Add to favorites', hotel_afavourites_path(@hotel.id), method: :post, :class => "btn btn-warning" %>
    <% end %>
  </div>
</div>
</div>

<br>

<div>
  <h3><strong>Leave a comment:</strong></h3>
  <%= render 'comments/form' %>
</div>

<br>

<div>
  <h3><strong>Comments Left:</strong></h3>
  <div class="card-deck">
    <%= render @hotel.comments %>
  </div> 
</div>

<br>

<!-- <%= image_tag(@hotel.image.url, alt: 'Image') if @hotel.image? %> -->


