<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('search-restaurant.jpg'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="uploads/search-restaurant.jpg"><strong>Re-serve Hotels</strong></a>
        <ul class="nav">
        <div class="navbar container">
            <!-- <a class="btn btn-outline-primary" href="<%=root_path%>">Home</a> -->
          <% if user_signed_in? %>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-secondary btn-sm' %> &nbsp
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-danger btn-sm'  %> &nbsp
              <span class="navbar-text">Signed-in as
              <strong style="color: #007bff;"><u><%= current_user.email %></u></strong>
            </span>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-outline-primary btn-sm'  %> &nbsp
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-success btn-sm'  %>
          <% end %>
          </div>
        </ul>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
                  <%= value %>
            </div>
      <% end %>
    </div>
    <%= yield %>
      <nav class="navbar fixed-bottom navbar-light bg-dark">
         <footer class="py-1">
          <div class="copy-right">
            <p class="m-0 text-center text-white">&copy; 2017 Re-serve Hotels. All rights reserved.</p>
          </div>
        </footer>
      </nav>
  </body>
</html>


